<form class="container" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="dob-dd">Date of joining </label>
    <div class="row">
      <div class="col-4 pe-0">
        <app-common-dropdown [classList]="'form-control'" [selectFC]="myForm.get('day')" [options]="calenderDayList">
        </app-common-dropdown>
      </div>
      <div class="col-4 p-0">
        <app-common-dropdown [classList]="'form-control'" [selectFC]="myForm.get('month')"
          [options]="calenderMonthList">
        </app-common-dropdown>
      </div>
      <div class="col-4 ps-0">
        <app-common-dropdown [classList]="'form-control'" [selectFC]="myForm.get('year')" [options]="calenderYearList">
        </app-common-dropdown>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="role">Role: </label>
        <app-common-dropdown [classList]="'form-control'" [selectFC]="myForm.get('role')" [options]="roleList">
        </app-common-dropdown>
      </div>
    </div>
    <div class="col-6">
      <ngx-slider [(value)]="experienceSliderValue" [options]="experienceSliderOptions"></ngx-slider>
    </div>
  </div>
  <button class="btn btn-primary my-2" type="submit">Submit</button>
</form>

<div *ngIf="isDisplayValue">
  <p>Previous Submite value:</p>
  <p>Date :- {{submittedData?.day}} {{submittedData?.month}} {{submittedData?.year}}</p>
  <p>Role:- {{submittedData?.roleName}}/{{submittedData?.roleValue}}</p>
  <p>Experience Slider:- {{submittedData?.experience}}</p>
</div>

<router-outlet></router-outlet>